<div class="container">
  {{homeComp.currentResult}}
  <div class="textarea">
    <div class="message">
      {{homeComp.message}}{{homeComp.lastWord}}<span class="cursor">|</span>
    </div>
    <div class="results">
      <div ng-repeat="result in homeComp.results track by $index"
            class="result"
            ng-class="{active: $index==homeComp.currentResult}"
            >
        {{result}}
      </div>
    </div>
  </div>
  <div class="keypad">
    <div class="keypad-row">
      <div class="key key1" ng-click="homeComp.clickKey('1')">
        <div class="key-number">
          1
        </div>
        <div class="key-letters">

        </div>
      </div>
      <div class="key key2" ng-click="homeComp.clickKey('2')">
        <div class="key-number">
          2
        </div>
        <div class="key-letters">
          abc
        </div>
      </div>
      <div class="key key3" ng-click="homeComp.clickKey('3')">
        <div class="key-number">
          3
        </div>
        <div class="key-letters">
          def
        </div>
      </div>
    </div>
    <div class="keypad-row">
      <div class="key key4" ng-click="homeComp.clickKey(4)">
        <div class="key-number">
          4
        </div>
        <div class="key-letters">
          ghi
        </div>
      </div>
      <div class="key key5" ng-click="homeComp.clickKey('5')">
        <div class="key-number">
          5
        </div>
        <div class="key-letters">
          jkl
        </div>
      </div>
      <div class="key key6" ng-click="homeComp.clickKey('6')">
        <div class="key-number">
          6
        </div>
        <div class="key-letters">
          mno
        </div>
      </div>
    </div>
    <div class="keypad-row">
      <div class="key key7" ng-click="homeComp.clickKey('7')">
        <div class="key-number">
          7
        </div>
        <div class="key-letters">
          pqrs
        </div>
      </div>
      <div class="key key8" ng-click="homeComp.clickKey('8')">
        <div class="key-number">
          8
        </div>
        <div class="key-letters">
          tuv
        </div>
      </div>
      <div class="key key9" ng-click="homeComp.clickKey('9')">
        <div class="key-number">
          9
        </div>
        <div class="key-letters">
          wxyz
        </div>
      </div>
    </div>
    <div class="keypad-row">
      <div class="key keyAst" ng-click="homeComp.clickKey('Ast')">
        <div class="key-number">
          *
        </div>
        <div class="key-letters">
          delete
        </div>
      </div>
      <div class="key key0" ng-click="homeComp.clickKey('0')">
        <div class="key-number">
          0
        </div>
        <div class="key-letters">
          space
        </div>
      </div>
      <div class="key keyHash" ng-click="homeComp.clickKey('Hash')">
        <div class="key-number">
          #
        </div>
        <div class="key-letters">
          next
        </div>
      </div>
    </div>
  </div>
  <div class="text-footer">
    <div>
      Made by Tommy Lim
    </div>
    <div>
      <a href="https://github.com/Tommy-Lim/t9-words" target="blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
